<div class="tab-pane fade" id="show_activity" role="tabpanel" aria-labelledby="home-tab">
    <div class="card shadow mb-4 mt-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <form method="POST" action="/admin/item/add/activity" enctype="multipart/form-data">
                        <input type="hidden" value="<%= item_id %>" name="item_id">
                        <div class="form-group">
                            <label for="name">Nama</label>
                            <input type="text" class="form-control" id="name_activity" name="name" placeholder="Masukkan Nama" required>
                        </div>
                        <div class="form-group">
                            <label for="type">Tipe</label>
                            <input type="text" class="form-control" id="type" name="type" placeholder="Masukkan Tipe" required>
                        </div>
                        <label>Gambar</label>
                        <div class="input-group form-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="image_activity" aria-describedby="image" name="image" required>
                                <label class="custom-file-label" for="image">Upload Gambar</label>
                                </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Simpan</button>
                            <a href="/admin/item" class="btn btn-info">Kembali</a>
                        </div>
                    </form>
                </div>
                <div class="col-md-7">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="activity_table" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Nama</th>
                                <th>Tipe</th>
                                <th>Gambar</th>
                                <th>Opsi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i = 0; i < activity.length; i++) { %>
                                <tr>
                                    <td><%= i + 1 %></td>
                                    <td><%= activity[i].name %></td>
                                    <td><%= activity[i].type %></td>
                                    <td>
                                        <img src="<%= base_url + '/' + activity[i].image %>" alt="<%= activity[i].name %>" width="100px" />
                                    </td>
                                    <td>
                                        <a href="javascript:void(0)" type="button" class="btn btn-warning btn-sm btn-edit" data-id="<%= activity[i]._id %>" data-name="<%= activity[i].name %>" data-type="<%= activity[i].type %>" data-item_id="<%= item_id %>"><i class="fas fa-edit"></i></a>
                                        <form action="/admin/item/delete/activity/<%= activity[i]._id %>/<%= item_id %>?_method=DELETE" method="POST" class="d-inline">
                                            <button type="submit" onclick="return confirm('Yakin ingin dihapus?')" class="btn btn-danger btn-sm btn-delete" data-id="<%= activity[i]._id %>"><i class="fas fa-trash"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <%- include('show_modal_activity.ejs') %>